@font-face {
  font-family: Gluten;
  src:
    url("@/assets/fonts/Gluten.woff2") format(woff2),
    url("@/assets/fonts/Gluten.woff") format(woff);
}
@font-face {
  font-family: Playwrite;
  src:
    url("@/assets/fonts/PlaywriteGBS.woff2") format(woff2),
    url("@/assets/fonts/PlaywriteGBS.woff") format(woff);
}

:root {
  --clrSec1: #074c74;
  --clrTransBG: #00000023;
  --fontSize1: clamp(0.8rem, calc(2dvw + 0.8em), 1.3rem);
  --fontSize2: clamp(0.3em, calc(1dvw));

  font-size: var(--fontSize1);
  font-family: Gluten;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  padding-inline-start: 0;
  margin-inline-start: 0;
  border: none;
  color: inherit;
  text-decoration: none;
  font-family: Gluten;
  font-size: calc(var(--fontSize1) * 0.7);
  scrollbar-color: var(--clrTransBG) var(--clrTransBG);
}

body {
  position: relative;
}
