.projectManager {
  background-color: var(--clrTransBG);
  height: 100%;
  padding: 0.6em;
  display: flex;
  flex-direction: column;
  .projectTitle {
    font-size: calc(var(--fontSize1) * 1);
    font-weight: 600;
    display: flex;
    align-items: center;
    p {
      flex-grow: 1;
    }
  }
  .projectDesc {
    display: flex;
    margin-top: 0.3em;
    flex-grow: 1;
    font-size: calc(var(--fontSize1) * 0.7);
    p {
      flex-grow: 1;
    }
  }
  button {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    opacity: 0.3;
    transition:
      opacity 0.4s ease-out,
      scale 0.4s ease-out;
    cursor: pointer;
    align-self: flex-start;
    justify-self: end;
  }
  button:hover {
    opacity: 0.8;
    scale: 1.1;
  }
}
